*{
  margin: auto;
  text-decoration: none;
  text-align: center;
  justify-content: space-around;
}

header{
  background-color: rgb(164, 184, 250);
}

nav{
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: rgb(240, 240, 240);
}


body{
  background-color: rgb(212, 229, 250);
}

.main{
  padding-top: 10%;
}

button{
  border-radius: 10%;
  padding: 3%;
  border-style: none;
  color: white;
  background-color: rgb(46, 55, 118);
}

button:hover{
  background-color: rgb(79, 86, 139);
}