*{
  margin: auto;
  text-decoration: none;
  text-align: center;
  justify-content: space-around;
}

header{
  background-color: rgb(18, 22, 45);
}

nav{
  padding: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  font-size: 25px;
  text-decoration: none;
  color: white;
  transition: 350ms;
}

a:hover{
  color: rgb(79, 79, 79);
}


body{
  background-color: rgb(212, 229, 250);
}

.main{
  font-size: 25px;
  padding-top: 10%;
}

h1{
  padding-bottom: 2%;
}

button{
  font-size: 18px;
  border-radius: 5%;
  padding: 3%;
  border-style: none;
  color: white;
  background-color: rgb(46, 86, 118);
}

button:hover{
  background-color: rgb(79, 99, 139);
}